name: Deploy Flask App to GCP VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.SA_KEY }}

      - name: Deploy Flask App via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: "${{ secrets.VM_USER }}"
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            APP_DIR="$HOME/python-ci-cd"

            mkdir -p "$APP_DIR"
            cd "$APP_DIR"

            if [ ! -d ".git" ]; then
              git clone https://github.com/Eekshitha26/python-ci-cd.git .
            else
              git pull origin main
            fi

            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

            sudo systemctl daemon-reload
            sudo systemctl restart flaskapp
